<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="content">
		<v:asset.style path="EXT:hcb_iamdioe_meme/Resources/Public/css/jquery-ui.css" standalone="1" />
		<v:asset.style path="EXT:hcb_iamdioe_meme/Resources/Public/css/spectrum.min.css" standalone="1" />
		<v:asset.style path="EXT:hcb_iamdioe_meme/Resources/Public/css/generator/jquery-memegenerator.min.css" standalone="1" />
		<v:asset.style path="EXT:hcb_iamdioe_meme/Resources/Public/css/generator/style.css" standalone="1" />
		<div class="panel panel-default">
			<div class="panel-heading">MemeGenerator</div>
			<div class="panel-body">
				<div class="row">
					<f:for each="{memeimagesItems}" as="memeimageItem">
						<div class="col-md-3"><f:image src="{memeimageItem.uid}" class="img-responsive" treatIdAsReference="TRUE" /></div>
					</f:for>
				</div>
			</div>
		</div>
		<v:asset.script path="EXT:hcb_iamdioe_meme/Resources/Public/js/jquery-ui.min.js" standalone="1" />
		<v:asset.script path="EXT:hcb_iamdioe_meme/Resources/Public/js/spectrum.min.js" standalone="1" />
		<v:asset.script path="EXT:hcb_iamdioe_meme/Resources/Public/js/generator/jquery-memegenerator.min.js" standalone="1" />
		<v:asset.script path="EXT:hcb_iamdioe_meme/Resources/Public/js/generator/script.js" standalone="1" />
	</f:section>
</html>