<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="content">
		<div class="panel panel-default">
			<div class="panel-heading">MemeGenerator</div>
			<div class="panel-body">
				<div class="row">
					<f:for each="{memeimagesItems}" as="memeimageItem">
						<div class="col-md-3"><f:image src="{memeimageItem.uid}" class="img-responsive" treatIdAsReference="TRUE" /></div>
					</f:for>
				</div>
			</div>
		</div>
	</f:section>
</html>