<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="datum">
	<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.datum" />
</label><br />
	<f:form.textfield property="datum" value="{memeEntrie.datum->f:format.date()}" /><br />
<label for="votes">
	<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.votes" />
</label><br />
	<f:form.textfield property="votes" /><br />
<label for="bild">
	<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.bild" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="memetag">
	<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.memetag" />
</label><br />
	<f:form.textfield property="memetag" /><br />
<label for="memetexte">
	<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.memetexte" />
</label><br />
	<f:form.textfield property="memetexte" /><br />
<label for="freigegeben">
	<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.freigegeben" />
</label><br />
	<f:form.checkbox property="freigegeben" value="1" /><br />
<label for="email">
	<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="alterjahre">
	<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.alterjahre" />
</label><br />
	<f:form.textfield property="alterjahre" /><br />
<label for="geburtsort">
	<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.geburtsort" />
</label><br />
	<f:form.textfield property="geburtsort" /><br />
<label for="wohnort">
	<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.wohnort" />
</label><br />
	<f:form.textfield property="wohnort" /><br />
<label for="geschlecht">
	<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.geschlecht" />
</label><br />
	<f:form.textfield property="geschlecht" /><br />
<label for="dialekt">
	<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.dialekt" />
</label><br />
	<f:form.textfield property="dialekt" /><br />
<label for="dialektalltag">
	<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.dialektalltag" />
</label><br />
	<f:form.textfield property="dialektalltag" /><br />
<label for="dialektbezeichnung">
	<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.dialektbezeichnung" />
</label><br />
	<f:form.textfield property="dialektbezeichnung" /><br />
<label for="teilnahme">
	<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.teilnahme" />
</label><br />
	<f:form.checkbox property="teilnahme" value="1" /><br />
</html>