<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-hcb-iamdioe-meme" >
	<tr>
		<td>
			<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.datum" />
		</td>
		<td>
		{memeEntrie.datum -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.votes" />
		</td>
		<td>
		{memeEntrie.votes}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.bild" />
		</td>
		<td>
				<f:image src="{memeEntrie.bild.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.memetag" />
		</td>
		<td>
		{memeEntrie.memetag}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.memetexte" />
		</td>
		<td>
		{memeEntrie.memetexte}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.freigegeben" />
		</td>
		<td>
		{memeEntrie.freigegeben}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.email" />
		</td>
		<td>
		{memeEntrie.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.alterjahre" />
		</td>
		<td>
		{memeEntrie.alterjahre}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.geburtsort" />
		</td>
		<td>
		{memeEntrie.geburtsort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.wohnort" />
		</td>
		<td>
		{memeEntrie.wohnort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.geschlecht" />
		</td>
		<td>
		{memeEntrie.geschlecht}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.dialekt" />
		</td>
		<td>
		{memeEntrie.dialekt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.dialektalltag" />
		</td>
		<td>
		{memeEntrie.dialektalltag}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.dialektbezeichnung" />
		</td>
		<td>
		{memeEntrie.dialektbezeichnung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hcbiamdioememe_domain_model_memeentrie.teilnahme" />
		</td>
		<td>
		{memeEntrie.teilnahme}
		</td>
	</tr>
</table>
</html>